In [1]:
from domino.data_sources import DataSourceClient

# instantiate a client and fetch the datasource instance
object_store = DataSourceClient().get_datasource("mlops-best-practices")

# list objects available in the datasource
objects = object_store.list_objects()

In [2]:
from io import StringIO
import pandas as pd

s = str(object_store.get("credit_card_default.csv"), 'utf-8')
data = StringIO(s)

# Load only the specified columns
columns_to_load = ['ID', 'PAY_0', 'PAY_2', 'PAY_4', 'LIMIT_BAL', 'PAY_3', 'BILL_AMT1', 'default payment next month']
df = pd.read_csv(data, usecols=columns_to_load)

# Rename the column after loading the data
df.rename({'default payment next month': 'DEFAULT'}, axis=1, inplace=True)

df.head()

   ID  LIMIT_BAL  PAY_0  PAY_2  PAY_3  PAY_4  BILL_AMT1  DEFAULT
0   1      20000      2      2     -1     -1       3913        1
1   2     120000     -1      2      0      0       2682        1
2   3      90000      0      0      0      0      29239        0
3   4      50000      0      0      0      0      46990        0
4   5      50000     -1      0     -1      0       8617        0